{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>SoCK | Use Cases</title>
{% endblock meta %}

{% block navbar %}
  <li class="nav-item">
    <a class="nav-link navbar-font mx-2"  href="{% url 'main:home' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link navbar-font mx-2" href="{% url 'pattern:pattern' %}">Patterns</a>
  </li>
  <li class="nav-item">
    <a class="nav-link navbar-font mx-2" href="{% url 'instance:instance' %}">Instances</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active navbar-font mx-2" aria-current="page" href="#">Use Cases</a>
  </li>
{% endblock navbar %}

{% block content %}
  <!-- Intro -->
  <div class="min-vh-100" id="intro">
    <div class="container p-5"> 
			<div class="d-flex flex-column ">
				<div class="fw-bold main-title pt-5">Use Cases</div>
				<div class="subtitle mb-5 text-justify">
					{% lorem %}
				</div>
        <iframe
          src="{% static 'pdf/SoCK Use Cases Analysis.pdf' %}"
          class="min-vh-100 mb-3"
        >
          <p>
            Your browser does not support PDFs.
            <a href="{% static 'pdf/SoCK Use Cases Analysis.pdf' %}">Download the PDF</a>
            .
          </p>
        </iframe>
			</div>
    </div>
  </div>
{% endblock content %}
