{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>SoCK | Instance Pattern</title>
{% endblock meta %}

{% block navbar %}
  <li class="nav-item">
    <a class="nav-link navbar-font mx-2"  href="{% url 'main:home' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link navbar-font mx-2" href="{% url 'pattern:pattern' %}">Patterns</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active navbar-font mx-2" aria-current="page" href="#">Instances</a>
  </li>
  <li class="nav-item">
    <a class="nav-link navbar-font mx-2" href="{% url 'usecase:usecase' %}">Use Cases</a>
  </li>
{% endblock navbar %}

{% block content %}
  <!-- Intro -->
  <div class="min-vh-100" id="intro">
    <div class="container"> 
      <div class="d-flex flex-column pt-5">
        <div class="fw-bold main-title pt-5">Instances</div>
        <div class="subtitle mb-5 text-justify">
          During our project, some SHACL completeness patterns were implemented 
          using real cases Take a look at various examples using real cases 
          from world knowledge graphs implemented by our SHACL patterns. A collection 
          of code to instantiate the completeness pattern and validate the 
          knowledge graph data is also provided in a library using Python.
        </div>
        <div class="d-flex justify-content-start">
          <a type="button" class="btn btn-lg btn-secondary button-font fs-5" href="#list-instances">Explore!</a>
          <button type="button" class="btn btn-lg btn-outline-secondary ms-3 button-font fs-5" data-bs-toggle="modal" data-bs-target="#modal-form">Create</button>
          <a type="button" class="btn btn-lg btn-outline-primary ms-3 button-font fs-5" href="https://github.com/JillyCS15/sock-validator" target=”_blank”>Library</a>
        </div>
      </div>
    </div>
  </div>

    <!-- Message -->
    <div class="fixed-bottom">
      <div class="d-flex justify-content-center mt-5 pt-5">
      {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      {% endif %}
      </div>
    </div>

  <!-- Modal Form -->
  <div class="modal fade" id="modal-form" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title subtitle fw-bold" id="exampleModalLabel">Create a New Pattern Instance</div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'instance:add-pattern-instance' %}" method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col col-md-12 col-lg-6">
                <div class="mb-3">
                  <label class="form-label details text-dark fw-bolder">{{ pattern_instance_form.name.label }}</label>
                  {{ pattern_instance_form.name }}
                </div>
                <div class="mb-3">
                  <label class="form-label details text-dark fw-bolder">{{ pattern_instance_form.creator.label }}</label>
                  {{ pattern_instance_form.creator }}
                </div>
                <div class="mb-3">
                  <label class="form-label details text-dark fw-bolder">{{ pattern_instance_form.description.label }}</label>
                  {{ pattern_instance_form.description }}
                </div>
              </div>
              <div class="col col-md-12 col-lg-6">
                <div class="d-flex flex-column">
                  <div class="mb-3">
                    <label class="form-label details text-dark fw-bolder">SHACL pattern</label>
                    <select name="shacl_pattern" class="form-select details text-dark" required id="id_shacl_pattern">
                      <option selected disabled>Choose SHACL pattern</option>
                      {% for shacl_pattern in shacl_patterns %}
                      <option value="{{ shacl_pattern.id }}">{{ shacl_pattern.pattern_class.name }} - {{shacl_pattern.code}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="mb-3">
                    <label class="form-label details text-dark fw-bolder">SHACL pattern description</label>
                    <div id="shacl_pattern_desc" class="details text-dark text-justify mb-2">
                      -
                    </div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label details text-dark fw-bolder">SHACL shapes</label>
                    <div class="details text-secondary mb-2">Press <b>Shift</b> + <b>Tab</b> for indentation</div>
                    {{ pattern_instance_form.shacl_shapes }}
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex">
              <button type="button" class="btn btn-outline-danger button-font me-auto" data-bs-dismiss="modal">Cancel</button>
              <input type="submit" value="Create" class="btn btn-primary button-font" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- List of Instances -->
  <div class="min-vh-100" id="list-instances">
    <div class="container py-5">
      <div class="heading text-center pt-5 mb-3">Explore by Search here.</div>

      <!-- source: https://mdbootstrap.com/docs/standard/forms/search/#:~:text=Bootstrap%205%20Search%20component,select%2C%20sidenav%20and%20many%20more. -->
      <form action="{% url 'instance:instance' %}" class="input-group rounded d-flex align-items-center px-5 mb-5">
        <input type="search" name="query" class="form-control rounded-pill border-dark subtitle text-secondary px-3 py-2 me-3" placeholder="Search favorable instance" aria-label="Search" aria-describedby="search-addon" />
        <button class="btn btn-white" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
      </form>

      <!-- Result -->
      {% if pattern_instances %}
        <div class="subtitle fw-bold text-center text-dark mb-4" id="result-text" hidden>Here is the results for "{{ query }}"</div>
        <div class="row row-cols-1 row-cols-md-2 g-4 mb-5">
          {% for instance in pattern_instances %}
          <div class="col">
            <div class="card p-4 mb-3 h-100">
              <div class="card-body row p-0">
                <div class="col col-lg-9">
                  <div class="subtitle fw-bolder mb-2">{{ instance.name }}</div>
                  <div class="details text-truncate pe-5 mb-2">
                    {{ instance.description }}
                  </div>
                  <span class="badge rounded-pill bg-warning text-dark mb-2">{{ instance.shacl_pattern.pattern_class.name }}</span>
                </div>
                <div class="col col-lg-2 d-flex justify-content-center align-self-center">
                  <a class="btn btn-primary button-font" href="{% url 'instance:show-pattern-instance-detail' instance.id %}" role="button">
                    Details
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            {% if pattern_instances.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
            <li class="page-item">
              <a class="page-link" href="?page={{ pattern_instances.previous_page_number }}">
                Prev
              </a>
            </li>
            {% if pattern_instances.previous_page_number != 1 %}
            <li class="page-item">
              <a class="page-link" href="?page={{ pattern_instances.previous_page_number }}">
                {{ pattern_instances.previous_page_number }}
              </a>
            </li>
            {% endif %}
            {% endif %}

            <li class="page-item active">
              <span class="page-link" href="#">
                {{ pattern_instances.number }}
              </span>
            </li>

            {% if pattern_instances.has_next %}
            {% if pattern_instances.next_page_number != pattern_instances.paginator.num_pages  %}
            <li class="page-item">
              <a class="page-link" href="?page={{ pattern_instances.next_page_number }}">
                {{ pattern_instances.next_page_number }}
              </a>
            </li>
            {% endif %}

            <li class="page-item">
              <a class="page-link" href="?page={{ pattern_instances.next_page_number }}">
                Next
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ pattern_instances.paginator.num_pages }}">Last &raquo;</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      {% else %}
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="heading text-center">Oh, no! Sorry</div>
        <div class="subtitle fw-bold text-center text-dark mb-4" id="result-text" hidden>We could not find any results for "{{ query }}"</div>
        <div class="details fw-bold text-center">Search Tips:</div>
        <div class="details text-center">Make sure the word you typed correctly</div>
        <div class="details text-center">Try using similar keywords</div>
        <div class="details text-center">Keep your keyword simple for a wider results</div>
      </div>
      {% endif %}


    </div>
  </div>
{% endblock content %}

{% block script %}
  {% autoescape off %}
  <script type="text/javascript">

    // source: https://benborgers.com/posts/textarea-tab
    const textarea = document.getElementById('id_shacl_shapes');
    const shacl_pattern_select = document.getElementById('id_shacl_pattern');
    const shacl_pattern_desc = document.getElementById('shacl_pattern_desc');
    var data = {{ shacl_patterns_data }};
    const prefixes = `@prefix : <http://example.org/ns#> .
@prefix dash: <http://datashapes.org/dash#> .
@prefix dbc: <http://dbpedia.org/resource/Category:> .
@prefix dbo: <http://dbpedia.org/ontology/> .
@prefix dbp: <http://dbpedia.org/property/> .
@prefix dbr: <http://dbpedia.org/resource/> .
@prefix dct: <http://purl.org/dc/terms/> .
@prefix ex: <http://example.org/ns#> .
@prefix foaf: <http://xmlns.com/foaf/0.1/> .
@prefix geo: <http://www.opengis.net/ont/geosparql#> .
@prefix owl: <http://www.w3.org/2002/07/owl#> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix schema: <http://schema.org/> .
@prefix sh: <http://www.w3.org/ns/shacl#> .
@prefix skos: <http://www.w3.org/2004/02/skos/core#> .
@prefix sock: <https://cs.ui.ac.id/ns/sock#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .
@prefix wd: <http://www.wikidata.org/entity/> .
@prefix wdt: <http://www.wikidata.org/prop/direct/> .

`;

    if (window.location.href.indexOf("?query") != -1) {
      document.getElementById("list-instances").scrollIntoView();
      document.getElementById("result-text").hidden = false;
    }

    if (window.location.href.indexOf("?page") != -1) {
      document.getElementById("list-instances").scrollIntoView();
    }

    shacl_pattern_select.addEventListener('change', function() {
      shacl_pattern_desc.textContent = data[this.value]['description'];
      textarea.value = prefixes + data[this.value]['shacl_pattern'];
    });

    textarea.addEventListener('keydown', (e) => {
      if (e.shiftKey && e.keyCode == 9) {
        e.preventDefault();

        textarea.setRangeText(
          '\t',
          textarea.selectionStart,
          textarea.selectionStart,
          'end'
        )
      }
    });
  </script>
  {% endautoescape %}
{% endblock script %}
