{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>SoCK | Instance Pattern</title>
{% endblock meta %}

{% block navbar %}
  <li class="nav-item">
	<a class="nav-link navbar-font mx-2"  href="{% url 'main:home' %}">Home</a>
  </li>
  <li class="nav-item">
	<a class="nav-link navbar-font mx-2" href="{% url 'pattern:pattern' %}">Patterns</a>
  </li>
  <li class="nav-item">
	<a class="nav-link active navbar-font mx-2" aria-current="page" href="#">Instances</a>
  </li>
  <li class="nav-item">
	<a class="nav-link navbar-font mx-2" href="{% url 'usecase:usecase' %}">Use Cases</a>
  </li>
{% endblock navbar %}

{% block content %}
  <!-- Intro -->
  <div class="min-vh-100" id="intro">
		<div class="container"> 
			<div class="d-flex flex-column pt-5">
				<div class="fw-bold heading pt-5 text-center">{{ pattern_instance.name }}</div>
				<hr class="mb-3">
				<div class="row">
					<div class="col col-lg-6 col-md-12">
						<div class="mb-3">
							<div class="subtitle fw-bold mb-2">Description</div>
							<div class="details">{{ pattern_instance.description }}</div>
						</div>
						<div class="mb-3">
							<div class="subtitle fw-bold mb-2">Creator</div>
							<div class="details">{{ pattern_instance.creator }}</div>
						</div>
						<div class="mb-3">
							<div class="subtitle fw-bold mb-2">Date Created</div>
							<div class="details">{{ pattern_instance.created_at|date:"l F, jS o" }}</div>
						</div>
					</div>
					<div class="col col-lg-6 col-md-12">
						<div class="mb-3">
							<div class="subtitle fw-bold mb-2">SHACL Pattern</div>
							<div class="details">{{ pattern_instance.shacl_pattern.pattern_class.name }} - {{ pattern_instance.shacl_pattern.code}}</div>
						</div>
						<div class="mb-3">
							<div class="subtitle fw-bold mb-2">SHACL Shapes</div>
							<textarea class="code text-dark" rows="12" readonly id="shacl_shapes">
{{ pattern_instance.shacl_shapes }}
							</textarea>
						</div>
						<div class="d-flex justify-content-end mb-3">
							<button type="button" id="copy" class="btn btn-outline-secondary button-font me-3">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clipboard2" viewBox="0 0 16 16">
								  <path d="M3.5 2a.5.5 0 0 0-.5.5v12a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-12a.5.5 0 0 0-.5-.5H12a.5.5 0 0 1 0-1h.5A1.5 1.5 0 0 1 14 2.5v12a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-12A1.5 1.5 0 0 1 3.5 1H4a.5.5 0 0 1 0 1h-.5Z"/>
								  <path d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5Z"/>
								</svg>
								Copy
							</button>
							<a role="button" class="btn btn-secondary button-font" href="{% url 'instance:download-pattern-instance' pattern_instance.id %}">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark-arrow-down me-1" viewBox="0 0 16 16">
									<path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
									<path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
								</svg>
								Download as TTL
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
{% endblock content %}

{% block script %}
	<script type="text/javascript">
		const copy = document.getElementById('copy');

		// source:https://stackoverflow.com/questions/68461280/copy-text-from-textarea-to-clipboard-python
		copy.addEventListener('click', function() {
			const textarea = document.getElementById('shacl_shapes');
			let clip = navigator.clipboard;
			if (clip === undefined) {
				console.log(
					"Upgrade your browser to use the clipboard feature.",
				);
			} else {
				navigator.clipboard.writeText(textarea.value);

			}
    });
	</script>
{% endblock script %}
