/* Project-wide style */
body {
  min-height: 100vh;
}

/* Fonts */
.main-title {
  font: bolder 4rem "Poppins";
  color: #023047;
}

.bodytext {
  font: normal 1.5rem "Inter";
}

.heading {
  font: bold 2.5rem "Poppins";
  color: #023047;
}

.subtitle {
  font: normal 1.125rem "Inter";
}

.title {
  font: bold 1.25rem "Poppins";
}

.details {
  font: normal 0.9rem "Inter";
}

.navbar-font {
  font: 1rem "Poppins";
  font-weight: 200 !important;
}

.button-font {
  font: bold 1rem "Poppins";
}

.code {
  font: normal 0.85rem "Jetbrains Mono"
}

.text-justify {
  text-align: justify;
}

.text-indent {
  text-indent: 0.25rem;
}

.shine {
  transform: translate(0%,0%);
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  text-decoration: none;
  white-space: nowrap;
}
    
@keyframes shine {
  0% {background-position: -50px;}
  50% {background-position: 200px;}
  100% {background-position: 500px;}
}


/* Navbar */
/* source: https://codingyaar.com/responsive-bootstrap-navbar-underline-animation/ */
.navbar .navbar-nav .nav-item {
  position: relative;
}
.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #000000;
  width: 0%;
  content: "";
  height: 4px;
  transition: all 0.5s;
}

.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}


/* Button */
.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}


/* Other */
textarea {
  width: 100%;
  resize: none;
}
