{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>SoCK | Home</title>
{% endblock meta %}

{% block navbar %}
  <li class="nav-item">
    <a class="nav-link active navbar-font mx-2" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link navbar-font mx-2" href="{% url 'pattern:pattern' %}">Patterns</a>
  </li>
  <li class="nav-item">
    <a class="nav-link navbar-font mx-2" href="{% url 'instance:instance' %}">Instances</a>
  </li>
  <li class="nav-item">
    <a class="nav-link navbar-font mx-2" href="{% url 'usecase:usecase' %}">Use Cases</a>
  </li>
{% endblock navbar %}

{% block content %}
  <!-- Intro -->
  <div id="intro">
    <div class="container"> 
      <div class="row">
        <div class="col">
          <div class="d-flex flex-column min-vh-100 justify-content-center">
            <div class="fw-bold main-title">SoCK</div>
            <div class="bodytext fw-bolder">SHACL on Completeness Knowledge</div>
            <hr class="mb-5">
            <div class="subtitle">
              Completeness is an essential quality aspect concerning the breadth, depth, and 
              scope of knowledge. SoCK is a tool to provide & manage SHACL patterns and shapes 
              for completeness about knowledge graphs. <b>Try SoCK now!</b>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="d-flex min-vh-100 justify-content-end align-items-center">
            <img src="{% static 'img/logo.png' %}" alt="" width="300" height="350">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Description -->
  <div class="min-vh-100 my-4" id="description">
    <div class="container"> 
      <div class="d-flex flex-column align-items-center full-screen">
        <div class="heading">What is SoCK?</div>
        <div class="subtitle text-center px-5 mb-4">
          SoCK is a web-based application that provides Shapes Constraint 
          Languages to validate knowledge graph completeness.
        </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mmQl6VGvX-c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <!-- Features -->
  <div class="min-vh-100 my-4" id="features">
    <div class="container"> 
      <div class="d-flex flex-column align-items-center full-screen">
        <div class="h1 heading">Features</div>
        <div>
          <div class="row row-cols-md-1 row-cols-lg-2 g-4">
            <div class="col-md-6">
              <div class="card mx-3 h-100">
                <img src="{% static 'img/shaclund.png' %}" width="200" height="200" class="mx-auto d-block mt-3" alt="SHACL Understanding Logo">
                <div class="card-body">
                  <div class="card-title title text-center">SHACL Understanding</div>
                  <div class="card-text details text-center">
                    Get a brief lesson on SHACL through the patterns offered by SoCK.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mx-3 h-100">
                <img src="{% static 'img/pattern.png' %}" width="200" height="200" class="mx-auto d-block mt-3" alt="Patterns Logo">
                <div class="card-body">
                  <div class="card-title title text-center">Patterns</div>
                  <div class="card-text details text-center">
                    Offer a collection of complete patterns of knowledge graphs
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mx-3 h-100">
                <img src="{% static 'img/instances.png' %}" width="200" height="200" class="mx-auto d-block mt-3" alt="Instances Logo">
                <div class="card-body ">
                  <div class="card-title title text-center">Instances</div>
                  <div class="card-text details text-center">
                    Provide concrete examples of SHACL patterns based on open knowledge graphs, such as Wikidata and DBpedia.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mx-3 h-100">
                <img src="{% static 'img/usecase.png' %}" width="150" height="200" class="mx-auto d-block mt-3" alt="Use Cases Logo">
                <div class="card-body">
                  <div class="card-title title text-center">Informative Use Case</div>
                  <p class="card-text details text-center">
                    Dive into a brief explanation of how some case studies can be solved using the SHACL pattern.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            
          </div>
        </div>
        <!-- <div class="d-flex justify-content-center mb-3">
          <div class="card mx-3 min-vw-50 max-vw-50">
            <div class="card-body">
              <div class="card-title title text-center">SHACL Understanding</div>
              <div class="card-text details text-center">
                Get a brief lesson on SHACL through the patterns offered by SoCK.
              </div>
            </div>
          </div>
          <div class="card mx-3 min-vw-50 max-vw-50">
            <div class="card-body">
              <div class="card-title title text-center">Patterns</div>
              <div class="card-text details text-center">
                Offer a collection of complete patterns of knowledge graphs
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="card mx-3 min-vw-50 max-vw-50">
            <div class="card-body">
              <div class="card-title title text-center">Instances</div>
              <div class="card-text details text-center">
                Provide concrete examples of SHACL patterns based on open knowledge graphs, such as Wikidata and DBpedia.
              </div>
            </div>
          </div>
          <div class="card mx-3 min-vw-50 max-vw-50">
            <div class="card-body">
              <div class="card-title title text-center">Informative Use Case</div>
              <p class="card-text details text-center">
                Dive into a brief explanation of how some case studies can be solved using the SHACL pattern.
              </p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>


{% endblock content %}
