{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>SoCK | Home</title>
{% endblock meta %}

{% block navbar %}
  <li class="nav-item">
    <a class="nav-link active navbar-font mx-2" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link navbar-font mx-2" href="{% url 'pattern:pattern' %}">Patterns</a>
  </li>
  <li class="nav-item">
    <a class="nav-link navbar-font mx-2" href="{% url 'instance:instance' %}">Instances</a>
  </li>
{% endblock navbar %}

{% block content %}
  <!-- Intro -->
  <div id="intro">
    <div class="container"> 
      <div class="row">
        <div class="col">
          <div class="d-flex flex-column min-vh-100 justify-content-center">
            <div class="fw-bold main-title">SoCK</div>
            <div class="bodytext fw-bolder">SHACL on Completeness Knowledge</div>
            <hr class="mb-5">
            <div class="subtitle">
              Completeness is an essential quality aspect concerning the breadth, depth, and 
              scope of knowledge. SoCK is a tool to provide & manage SHACL patterns and shapes 
              for completeness about knowledge graphs. <b>Try SoCK now!</b>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="d-flex min-vh-100 justify-content-end align-items-center">
            <img src="{% static 'img/logo.png' %}" alt="" width="300" height="350">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Description -->
  <div class="min-vh-100 my-4" id="description">
    <div class="container"> 
      <div class="d-flex flex-column align-items-center full-screen">
        <div class="heading">What is SoCK?</div>
        <div class="subtitle text-center px-5 mb-4">
          {% lorem %}
        </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mmQl6VGvX-c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <!-- Features -->
  <div class="min-vh-100 my-4" id="features">
    <div class="container"> 
      <div class="d-flex flex-column align-items-center full-screen">
        <div class="h1 heading mb-3">Features</div>
        <div class="d-flex justify-content-center px-3">
          <div class="card mx-3">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <div class="card-title title text-center">Feature-1</div>
              <p class="card-text details text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card mx-3">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <div class="card-title title text-center">Feature-2</div>
              <p class="card-text details text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}
