{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>SoCK | Pattern</title>
{% endblock meta %}

{% block navbar %}
  <li class="nav-item">
    <a class="nav-link navbar-font mx-2"  href="{% url 'main:home' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active navbar-font mx-2" aria-current="page" href="#">Patterns</a>
  </li>
  <li class="nav-item">
    <a class="nav-link navbar-font mx-2" href="{% url 'instance:instance' %}">Instances</a>
  </li>
{% endblock navbar %}

{% block content %}
  <button type="button" onclick="topFunction()" class="btn btn-secondary back-to-top" id="back-to-top" style="position: fixed; bottom: 1.5rem; right: 1.5rem; display: none;">
    ↑
  </button>

  <!-- Intro -->
  <div class="min-vh-100" id="intro">
    <div class="container"> 
      <div class="d-flex flex-column pt-5">
        <div class="fw-bold main-title pt-5 mb-3">Pattern</div>
        <div class="subtitle mb-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
        </div>
        {% if is_admin %}
        <div class="btn btn-primary button-font d-flex align-self-start align-items-center mb-5">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus me-2" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
          <div class="button-font">Add New</div>
        </div>
      {% endif %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light border border-dark rounded">
          <div class="container-fluid">
            <div class="collapse navbar-collapse d-flex justify-content-evenly">
              <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                  <a href="#pattern-01" class="nav-link navbar-font text-center m-2">Class Completeness</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link navbar-font text-center m-2">Entity Completeness</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link navbar-font text-center m-2">Population Completeness</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link navbar-font text-center m-2">Label & Desc Completeness</a>
                </li>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>


  <!-- Pattern -->
  <div class="min-vh-100 py-5" id="pattern-01">
    <div class="container"> 
      <div class="d-flex flex-column pt-5">
        <div class="d-flex d-flex align-items-center">
          <div class="heading me-auto">Completeness for Class Properties</div>
          {% if is_admin %}
            <button type="button" class="btn btn-primary button-font d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus me-2" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
              <div class="button-font" data-bs-toggle="modal" data-bs-target="#modal-form">Add New</div>
            </button>
          {% endif %}
        </div>
        <hr class="shadow">
        <div class="subtitle text-justify mb-5">
          Sejauh mana entitas pada KG memiliki property-property yang diwajibkan untuk suatu class. 
          Misalnya pada class manusia, entitasnya mesti punya jenis kelamin, golongan darah, dsb. 
          Secara umum, untuk suatu class, jika property A, B, C, & D ada semua, maka entitas tersebut 
          dianggap lengkap.
        </div>
        <table class="table table-hover table-responsive">
          <thead class="table-secondary">
            <tr>
              <th scope="col" class="col-1 subtitle fw-bold text-center">Code</th>
              <th scope="col" class="col-5 subtitle fw-bold text-center">SHACL Pattern</th>
              {% if is_admin %}
                <th scope="col" class="col-4 subtitle fw-bold text-center">Description</th>
                <th scope="col" class="col-2 subtitle fw-bold text-center">Action</th>
              {% else %}
                <th scope="col" class="col-5 subtitle fw-bold text-center">Description</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="details fw-bold text-center">1</th>
              <td class="code">
                <textarea style="width: 100%; resize: none;" rows="12" readonly>
%% SHAPE-NAME %% a sh:NodeShape;
    sh:targetClass %% CLASS %% ;
    sh:property %% PROPERTY-SHAPE-NAME-01 %%, %% PROPERTY-SHAPE-NAME-02 %%, %% PROPERTY-SHAPE-NAME-NN %% .

%% PROPERTY-SHAPE-NAME-01 %% a sh:PropertyShape ;
    sh:path %% PROPERTY-01 %%  ;
    sh:minCount 1 .

%% PROPERTY-SHAPE-NAME-02 %% a sh:PropertyShape ;
    sh:path %% PROPERTY-02 %%  ;
    sh:minCount 1 .

%% PROPERTY-SHAPE-NAME-NN %% a sh:PropertyShape ;
    sh:path %% PROPERTY-NN %%  ;
      sh:minCount 1 .              
                </textarea>
                <div class="d-flex justify-content-end my-2">
                  <button type="button" class="btn btn-outline-secondary button-font">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-clipboard2" viewBox="0 0 16 16">
                      <path d="M3.5 2a.5.5 0 0 0-.5.5v12a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-12a.5.5 0 0 0-.5-.5H12a.5.5 0 0 1 0-1h.5A1.5 1.5 0 0 1 14 2.5v12a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-12A1.5 1.5 0 0 1 3.5 1H4a.5.5 0 0 1 0 1h-.5Z"/>
                      <path d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5Z"/>
                    </svg>
                    Copy
                  </button>
                </div>
              </td>
              <td class="details text-justify">
                Cek keberadaan suatu property pada entitas sebagai instance dari suatu class secara umum (general).
              </td>
              {% if is_admin %}
                <td class="text-center">
                  <div class="btn btn-danger button-font">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                    Delete
                  </div>
                </td>
              {% endif %}
            </tr>
            <tr>
              <th scope="row" class="details fw-bold text-center">2</th>
              <td class="code">
                <textarea style="width: 100%; resize: none;" rows="12" readonly>
%% SHAPE-NAME %% a sh:NodeShape;
    sh:targetClass %% CLASS-NAME %% ;
    sh:property %% PROPERTY-SHAPE-NAME %% .

%% PROPERTY-SHAPE-NAME %% a sh:PropertyShape ;
    sh:path [ sh:alternativePath ( %% PROPERTY-PATH-01 %% %% PROPERTY-PATH-02 %% %% PROPERTY-PATH-NN %% ) ]  ;
    sh:minCount 1 .                           
                </textarea>
                <div class="d-flex justify-content-end my-2">
                  <button type="button" class="btn btn-outline-secondary button-font">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-clipboard2" viewBox="0 0 16 16">
                      <path d="M3.5 2a.5.5 0 0 0-.5.5v12a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-12a.5.5 0 0 0-.5-.5H12a.5.5 0 0 1 0-1h.5A1.5 1.5 0 0 1 14 2.5v12a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-12A1.5 1.5 0 0 1 3.5 1H4a.5.5 0 0 1 0 1h-.5Z"/>
                      <path d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5Z"/>
                    </svg>
                    Copy
                  </button>
                </div>
              </td>
              <td class="details text-justify">
                Pattern untuk mengecek kardinalitas minimum dari suatu property pada suatu 
                instance class yang ada di Wikidata KG. Class didefinisikan pada %% CLASS-URI  %% . 
                Property-property yang diharuskan ada didefinisikan pada %% PROPERTY-01 %%, 
                %% PROPERTY-02 %%, hingga %% PROPERTY-NN %% sesuai kebutuhan.
              </td>
              {% if is_admin %}
              <td class="text-center">
                  <div class="btn btn-danger button-font">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                    Delete
                  </div>
                </td>
              {% endif %}
            </tr>
            <tr>
              <th scope="row" class="details fw-bold text-center">3</th>
              <td class="code">
                <textarea style="width: 100%; resize: none;" rows="12" readonly>
%% SHAPE-NAME %% a sh:NodeShape;
    sh:targetClass %% CLASS-NAME %% ;
    sh:property %% PROPERTY-SHAPE-NAME-01 %%, %% PROPERTY-SHAPE-NAME-02 %%, %% PROPERTY-SHAPE-NAME-NN %% .

%% PROPERTY-SHAPE-NAME-01 %% a sh:PropertyShape ;
    sh:path %% PROPERTY-01 %%  ;
    sh:minCount %% VALUE-01 %% .

%% PROPERTY-SHAPE-NAME-02 %% a sh:PropertyShape ;
    sh:path %% PROPERTY-02 %%  ;
    sh:minCount %% VALUE-02 %% .

%% PROPERTY-SHAPE-NAME-NN %% a sh:PropertyShape ;
    sh:path %% PROPERTY-NN %%  ;
    sh:minCount %% VALUE-NN %% .              
                </textarea>
                <div class="d-flex justify-content-end my-2">
                  <button type="button" class="btn btn-outline-secondary button-font">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-clipboard2" viewBox="0 0 16 16">
                      <path d="M3.5 2a.5.5 0 0 0-.5.5v12a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-12a.5.5 0 0 0-.5-.5H12a.5.5 0 0 1 0-1h.5A1.5 1.5 0 0 1 14 2.5v12a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-12A1.5 1.5 0 0 1 3.5 1H4a.5.5 0 0 1 0 1h-.5Z"/>
                      <path d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5Z"/>
                    </svg>
                    Copy
                  </button>
                </div>
              </td>
              <td class="details text-justify">
                Cek kardinalitas minimum dari suatu property pada entitas sebagai instance dari 
                suatu class. Nilai kardinalitas dari property diasosiasikan sebagai batas minimum 
                untuk suatu entitas dikatakan komplet/lengkap.
              </td>
              {% if is_admin %}
              <td class="text-center">
                  <div class="btn btn-danger button-font">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                    Delete
                  </div>
                </td>
              {% endif %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal Form -->
  <div class="modal fade" id="modal-form" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title subtitle fw-bold" id="exampleModalLabel">Create a New SHACL Pattern</div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="">
            <div class="mb-3">
              <label class="form-label details text-dark fw-bolder">Code</label>
              <input type="text" class="form-control details text-secondary">
            </div>
            <div class="mb-3">
              <label class="form-label details text-dark fw-bolder">Description</label>
              <textarea class="form-control details text-secondary" rows="4"></textarea>
            </div>
            <div class="mb-3">
              <label class="form-label details text-dark fw-bolder">SHACL Pattern</label>
              <textarea class="form-control details text-secondary" rows="10"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger button-font" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary button-font">Create</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
  <script>
    //Get the button:
    topButton = document.getElementById("back-to-top");

    // When the user scrolls down 900px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 550 || document.documentElement.scrollTop > 550) {
        topButton.style.display = "block";
      } else {
        topButton.style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
  </script>
{% endblock script %}